MERCADO_PUBLICO_TICKET=tu_ticket_de_mercado_publico
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_supabase_anon_publishable_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_solo_servidor
