MERCADO_PUBLICO_TICKET=DE0608FB-4843-4500-8220-E61922E66CEB
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_lqQVNsKYzDcpziYxcRr5Bg_5oQSQ6Ds
NEXT_PUBLIC_SUPABASE_ANON_KEY=https://gydhwyedfxwudczbfvpc.supabase.co
